*{
    margin: 100;
    padding: 0;
    list-style: none;
    box-sizing: border-box;  
}
:root{
--text:#fffff;
--primary:#ffff;
--secondary:#000;
--tertiary:#6C4FDF;
--quatery:#F0F8FF
--bg:#0f0f0f;
--card:#1a1a1a;
line-height: 1.6;
}